# Ignore everything
*

# But not these files...
!.gitignore
!cyberhead-compose.yml
!docker-compose.yml
!Dockerfile
!setup.py

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
